


.banner{
    height: 300px;
    position: relative;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: 10px;
margin-right:5px;

img{
    height: 100%;
    width: 100%;
    object-fit: cover;


}
figcaption{
    position: absolute;
    bottom:10px;
    left:10px;
    color: #fff;
}
}